<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
    <!-- Parameters -->
    <xacro:arg name="name" default="" />
    <xacro:arg name="prefix" default="grp_" />
    <xacro:arg name="parent" default="tool0" />
    <xacro:arg name="ghost" default="false" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="simulation_controllers" default="" />

    <xacro:property name="sim_gazebo" value="$(arg sim_gazebo)" />

    <!-- Gripper -->
    <link name="$(arg parent)" />
    <xacro:include filename="$(find robotiq_2f_85_description)/urdf/robotiq_2f_85_macro.xacro" />
    <xacro:robotiq_2f_85
        name="$(arg name)"
        prefix="$(arg prefix)"
        ur_coupling="true"
        mimic="${not sim_gazebo}" />
    <joint name="$(arg prefix)coupling_joint" type="fixed">
        <parent link="$(arg parent)" />
        <child link="$(arg prefix)coupling_link" />
        <origin xyz="0 0 0" rpy="0 0 ${pi}" />
    </joint>

    <!-- Frames for proximity sensors -->
    <xacro:macro name="proximity_frame" params="name parent">
        <link name="${name}" />
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${name}" />
            <origin xyz="-3.5013e-3 0 29e-3" rpy="0 -${pi/2} 0" />
        </joint>
        <!-- Create dummy link for gazebo_ros_camera because it publishes image in wrong orientation -->
        <xacro:if value="$(arg sim_gazebo)">
            <link name="${name}_gazebo" />
            <joint name="${name}_gazebo_joint" type="fixed">
                <parent link="${name}" />
                <child link="${name}_gazebo" />
                <origin xyz="0 0 0" rpy="0 -${pi/2} ${pi/2}" />
            </joint>
        </xacro:if>
    </xacro:macro>
    <xacro:unless value="$(arg ghost)">
        <xacro:proximity_frame name="left_proximity" parent="$(arg prefix)left_fingertip_link" />
        <xacro:proximity_frame name="right_proximity" parent="$(arg prefix)right_fingertip_link" />
    </xacro:unless>

    <!-- Frames for fingertip -->
    <xacro:macro name="fingertip_frame" params="name parent">
        <link name="${name}" />
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${name}" />
            <origin xyz="-13.86e-3 0 18.5e-3" rpy="0 -${pi/2} 0" />
        </joint>
    </xacro:macro>
    <xacro:if value="$(arg ghost)">
        <xacro:fingertip_frame name="left_fingertip" parent="$(arg prefix)left_fingertip_link" />
        <xacro:fingertip_frame name="right_fingertip" parent="$(arg prefix)right_fingertip_link" />
    </xacro:if>

    <!-- Gazebo -->
    <xacro:if value="$(arg sim_gazebo)">
        <!-- ros2_control -->
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(arg simulation_controllers)</parameters>
            </plugin>
        </gazebo>

        <!-- Proximity sensors -->
        <xacro:include filename="$(find prox2f_description)/urdf/vl53l5cx_macro.xacro" />
        <gazebo reference="left_proximity_gazebo">
            <xacro:vl53l5cx name="left_vl53l5cx" frame="left_proximity" />
        </gazebo>
        <gazebo reference="right_proximity_gazebo">
            <xacro:vl53l5cx name="right_vl53l5cx" frame="right_proximity" />
        </gazebo>
    </xacro:if>
</robot>
