<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="prox2f">
    <!-- Parameters -->
    <xacro:arg name="ur_type" default="ur5e" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="simulation_controllers" default="" />

    <!-- UR -->
    <link name="world" />
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
    <xacro:property name="initial_positions_file" default="$(find prox2f_description)/config/ur_initial_positions.yaml" />
    <xacro:ur_robot
        name="ur"
        prefix=""
        parent="world"
        joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
        kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
        physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
        visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
        initial_positions="${xacro.load_yaml(initial_positions_file)}"
        sim_gazebo="$(arg sim_gazebo)"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <!-- Gripper -->
    <xacro:include filename="$(find robotiq_2f_85_description)/urdf/robotiq_2f_85_macro.xacro" />
    <xacro:robotiq_2f_85 name="robotiq_2f" prefix="robotiq_2f_" ur_coupling="true" />
    <joint name="tool_joint" type="fixed">
        <parent link="tool0" />
        <child link="robotiq_2f_coupling_link" />
        <origin xyz="0 0 0" rpy="0 0 ${pi}" />
    </joint>

    <!-- Frames for proximity sensors -->
    <xacro:macro name="proximity_frame" params="name parent">
        <link name="${name}" />
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${name}" />
            <origin xyz="-3.5013e-3 0 29e-3" rpy="0 -${pi/2} 0" />
        </joint>
        <!-- Create dummy link for gazebo_ros_camera because it publishes image in wrong orientation -->
        <xacro:if value="$(arg sim_gazebo)">
            <link name="${name}_gazebo" />
            <joint name="${name}_gazebo_joint" type="fixed">
                <parent link="${name}" />
                <child link="${name}_gazebo" />
                <origin xyz="0 0 0" rpy="0 -${pi/2} ${pi/2}" />
            </joint>
        </xacro:if>
    </xacro:macro>
    <xacro:proximity_frame name="left_proximity" parent="robotiq_2f_left_fingertip_link" />
    <xacro:proximity_frame name="right_proximity" parent="robotiq_2f_right_fingertip_link" />

    <!-- Gazebo -->
    <xacro:if value="$(arg sim_gazebo)">
        <!-- ros2_control -->
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(arg simulation_controllers)</parameters>
            </plugin>
        </gazebo>

        <!-- Proximity sensors -->
        <xacro:include filename="$(find prox2f_description)/urdf/vl53l5cx_macro.xacro" />
        <gazebo reference="left_proximity_gazebo">
            <xacro:vl53l5cx name="left_vl53l5cx" frame="left_proximity" />
        </gazebo>
        <gazebo reference="right_proximity_gazebo">
            <xacro:vl53l5cx name="right_vl53l5cx" frame="right_proximity" />
        </gazebo>
    </xacro:if>
</robot>
