<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="prox2f">
  <!-- General parameters -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:property name="sim_gazebo" value="$(arg sim_gazebo)" />
  <xacro:arg name="tool_baud_rate" default="1000000" />

  <!-- Gripper parameters -->
  <xacro:arg name="gripper_prefix" default="grp_" />

  <!-- UR parameters -->
  <xacro:arg name="ur_type" default="ur5e" />
  <xacro:arg name="robot_ip" default="0.0.0.0" />
  <xacro:arg name="safety_limits" default="true" />
  <xacro:arg name="use_tool_communication" default="true" />
  <xacro:arg name="joint_limit_params"
    default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml" />
  <xacro:arg name="kinematics_params"
    default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml" />
  <xacro:arg name="physical_params"
    default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml" />
  <xacro:arg name="visual_params"
    default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml" />
  <xacro:arg name="script_filename"
    default="$(find ur_client_library)/resources/external_control.urscript" />
  <xacro:arg name="input_recipe_filename"
    default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt" />
  <xacro:arg name="output_recipe_filename"
    default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt" />
  <xacro:arg name="initial_positions_file"
    default="$(find ur_description)/config/initial_positions.yaml" />
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)" />

  <!-- UR -->
  <link name="world" />
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  <xacro:ur_robot
    name="$(arg ur_type)"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    use_fake_hardware="$(arg use_fake_hardware)"
    sim_gazebo="$(arg sim_gazebo)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    use_tool_communication="$(arg use_tool_communication)"
    tool_voltage="12"
    tool_baud_rate="$(arg tool_baud_rate)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
  >
    <origin xyz="0 0 0" rpy="0 0 ${-pi/2}" />
  </xacro:ur_robot>

  <!-- Gripper -->
  <xacro:include filename="$(find e2f_description)/urdf/e2f_macro.xacro" />
  <xacro:e2f
    name="e2f"
    tf_prefix="$(arg gripper_prefix)"
    use_fake_hardware="$(arg use_fake_hardware)"
    device_name="/tmp/ttyUR"
    baud_rate="$(arg tool_baud_rate)"
  />
  <joint name="$(arg gripper_prefix)base_joint" type="fixed">
    <parent link="tool0" />
    <child link="$(arg gripper_prefix)base_link" />
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </joint>

  <!-- Frames for proximity sensors -->
  <xacro:macro name="proximity_frame" params="name parent">
    <link name="${name}" />
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}" />
      <origin xyz="-1e-3 0 -9e-3" rpy="-${pi/2} 0 -${pi/2}" />
    </joint>
    <!-- Create dummy link for gazebo_ros_camera because it publishes image in wrong orientation -->
    <xacro:if value="$(arg sim_gazebo)">
      <link name="${name}_gazebo" />
      <joint name="${name}_gazebo_joint" type="fixed">
        <parent link="${name}" />
        <child link="${name}_gazebo" />
        <origin xyz="0 0 0" rpy="0 -${pi/2} ${pi/2}" />
      </joint>
    </xacro:if>
  </xacro:macro>
  <xacro:proximity_frame name="left_proximity" parent="$(arg gripper_prefix)fingertip_l" />
  <xacro:proximity_frame name="right_proximity" parent="$(arg gripper_prefix)fingertip_r" />

  <!-- Frame for TCP -->
  <link name="tcp" />
  <joint name="tcp_joint" type="fixed">
    <parent link="tool0" />
    <child link="tcp" />
    <origin xyz="0 0 0.132" rpy="0 0 0" />
  </joint>

  <!-- Workspace -->
  <xacro:include filename="$(find prox2f_description)/urdf/workspace_macro.xacro" />
  <xacro:workspace name="workspace" frame="world"
    size_x="1.1" size_y="0.9" size_z="1.0"
    center_x="0.15" center_y="0.0" center_z="0.5"
  />

  <!-- Gazebo -->
  <xacro:if value="$(arg sim_gazebo)">
    <!-- ros2_control -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>

    <!-- Proximity sensors -->
    <xacro:include filename="$(find prox2f_description)/urdf/vl53l5cx_macro.xacro" />
    <gazebo reference="left_proximity_gazebo">
      <xacro:vl53l5cx name="left_vl53l5cx" frame="left_proximity" />
    </gazebo>
    <gazebo reference="right_proximity_gazebo">
      <xacro:vl53l5cx name="right_vl53l5cx" frame="right_proximity" />
    </gazebo>
  </xacro:if>
</robot>
